.land03_3{
    margin-top: 120px;
    margin-bottom: 20px;
}
.Page3Row{
    margin-top: 15px;
    text-align: left;
  }
  .cardbg-1img{
    height: 400px;
    width: 380px;
    position: relative;
    top: 50px;
    left: 90px;
  
  }
  .Page3Card1, .Page3Card2{
   
   height:520px;
   border: none;
   
  }
  .Page3Card2inner{
    margin-top: 60px;
  }
  .Page3Card1bg{
    text-align: right;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 370px;
    background-image: url("./images/content-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Page3h1{
    margin: 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: 56px;
    line-height: 1.07em;
   }
   .Page3p{
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
   }
  
   @media screen and (max-width: 992px) {
    .land03_3{
      padding-left: 30px;
      padding-right: 30px;
    }
    .cardbg-1img{
      height: 350px;
      width: 320px;
      margin-top: 80px;
      margin-right: 25px;
      position:static;
    }
    .Page3Card1bg{
      margin-left: 30px;
    }
    .Page3Card2{
   
      height:auto;
      
     }
   }
   .checkmrkimg{
    height: 28px;
    width: 28px;
    margin: 4px;
    margin-right: 6px;
   }
   .Page3Card2p2{
    margin-left: 40px;
    width: 45%;
    font-family: Inter;
      line-height: 24px;
      font-weight: 400;
      font-size: 20px;
   }
   
  