.land03_11{
    text-align: left;
    padding: 15px;
    padding-top: 60px;
}
.colheading{
    color: rgb(86, 84, 84);
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
}
.links{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.links:hover{
    color: orangered;
}
.ttp{
    text-decoration: none;
}
.land03_11Row{
    padding-top: 30px;
    padding-left: 15px;
    margin-bottom: 40px;
}
.jaguarimg{
    position: absolute;
    right: 0px;
    
}