.land04_5{
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: whitesmoke;
}
.land04_5 h1{
    font-size: 55px;
    font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
}
.land04_5 p{
    margin-top: 20px;
    margin-left: 360px;
    width: 570px;
    margin-bottom: 50px;
    font-size: 22px;
    font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
}