
  
  .land01_2{
    padding: 20px;
  }
  
  .Page01_2Row{
    margin-top: 50px;
    text-align: left;
    margin-bottom: 10px;
  }
  .cardbg-img1{
    height: 93px;
    width: 380px;
    margin-top: 140px;
    margin-right: 60px;
  
  }
  .cardbg-img2{
    height: 120px;
    width: 380px;
    margin-top: 20px;
    margin-right: 60px;
  
  }
  .cardbg-img3{
    margin-top: 50px;
    margin-right: 80px;
  

  }
  .cardbg-img5{
    position: absolute;
    
    top: 200px;
    left: 430px;
  }
  .Page01_2Card1, .Page01_2Card2{
     
    height:520px;
    border: none;
    overflow: hidden;
    
   }
   .Page01_2Card1bg{
    text-align: right;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 80%;
    background-image: url("./images/content-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Page01_2text1{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: orangered;
    margin-left: 40px;
   }
   .iconimg{
    width: 20px;
    height: 20px;
    margin: 5px;
   }
   .Page01_2Card2Content{
    margin-top: 120px;
   }
   .Page01_2h1{
    margin: 5px;
    margin-left:40px;
    text-align: left;
    font-family: "Lora",Sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -2px;
    
    width: 85%;
   }
   .Page01_2p{
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    width: 70%;
    font-family: 'Inter';
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
   }
   @media screen and (max-width: 992px) {
    .land01_2{
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
    }

    .cardbg-img1{
      height: 43px;
      width: 280px;
      margin-top: 30px;
      margin-left: 30px;
      
    
    }
    .cardbg-img2{
      height: 80px;
      width: 280px;
      margin-top: 20px;
      margin-left: 30px;
    
    }
    .Page01_2Card1bg{
      text-align: center;
      margin-left: 40px;
      border-radius: 10px 10px 10px 10px;
      height: auto;
      width: 80%;
     }
     .Page01_2Card1, .Page01_2Card2{
     
      height: auto;
      
     }
     .Page01_2Card2Content{
      margin-top: 40px;
     }
     .Page01_2text1{
      
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      color: orangered;
      margin-right: 170px;
     }
     .Page01_2h1{
      margin: 0px;
      margin-left:40px;
      text-align: left;
      font-family: "Lora";
      font-size: 36px;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: auto;
      
      width: 85%;
     } 
     .Page01_2p{
      text-align: left;
      margin-top: 10px;
      margin-left: 40px;
      width: 70%;
      font-family: 'Inter';
      line-height: 28px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
     }
    
    .Page01_2Row{
      
      text-align: center;
      
    }
   }
   
  