.land06_7{
    padding-top: 80px;
    padding-bottom: 40px;
}

.land06_7 h1{
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif; 
    font-size: 52px;
}
.land06_7 .qq{
    width: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0.01px solid rgb(95, 91, 91);
    
}
.land06_7 .aa{
    margin-left: 130px;
    width: 1000px;
}
.land06_7 .hh{
    margin-top: 40px;
}
@media screen and (max-width: 992px) {
    .land06_7{
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .land06_7 h1{
        font-family: 'Lora', serif;
        font-family: 'Merriweather', serif;
        font-family: 'Noto Serif', serif; 
        font-size: 30px;
    }
    .land06_7 .qq{
        width: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        margin-right: 40px;
        
    }
    .land06_7 .aa{
        margin-left: 0px;
        width:fit-content;
    }
    .land06_7 .hh{
        text-align: left;
        margin-top: 40px;
        width: auto;
    }
}