.land01_5{
    padding-bottom: 50px;
}


.Page01_5h1{
    margin-left: 320px;
    text-align: center;
    font-family: "Lora",Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1em;
    
    
    width: 50%;
}
.Page01_5Row2{
    padding: 30px;
    
}
.card5_p{
    padding-bottom: 40px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
.Page01_5card{
    border: 2.5px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 992px) {
    .land01_5{
        padding-left: 40px;
        padding-right: 40px;
    }
    .Page01_5h1{
        margin-left: 0px;
        text-align: center;
        font-family: "Lora",Sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 1em;
        width: auto;
    }
    .Page01_5card{
        margin-bottom: 10px;
    }
}