
  .Page01_4Row{
    margin-top: 80px;
    text-align: left;
    padding-bottom: 40px;
  }
  .cardbg014-img1{
    
    width: 340px;
    margin-top: 40px;
    margin-right: 60px;
  
  }
  .cardbg01-img4{
    margin-top: 30px;
    margin-right: 370px;
  
  }
  .cardbg01-img3{
    margin-top: 0px;
    margin-right: 50px;
  
  }
  .Page01_4Card2Content{
    margin-top: 40px;
  }
  
  .Page01_4Card1, .Page01_4Card2{
     
    height: 520px;
    border: none;
    overflow: hidden;
    
   }
   .Page01_4Card2{
     
    height: 540px;
    border: none;
    overflow: hidden;
    
   }
   .Page01_4Card1{
     
    height: fit-content;
    border: none;
    overflow: hidden;
    
   }
   .Page01_4Card1bg{
    text-align: right;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 80%;
    background-image: url("./images/content-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
   }
   .Page01_4h1{
    margin: 5px;
    margin-left:25px;
    text-align: left;
    font-family: "Lora",Sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -2px;
    
    width: 90%;
    
   }
   .Page01_4p{
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    width: 80%;
    font-family: 'Inter';
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
   }
   @media screen and (max-width: 992px) {
    .land01_4{
     
      padding-left: 40px;
      padding-right: 40px;
    }
    .Page01_4Card1bg{
      text-align: right;
      margin-left: 30px;
      border-radius: 10px 10px 10px 10px;
      height: 70%;
      width: 85%;
      background-image: url("./images/content-bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
     }
     .Page01_4Card2Content{
      margin-top: 0px;
    }
    .Page01_4Row{
      
      text-align: center;
      
    }
    .Page01_4Card2{
        height: fit-content;
    }
    .Page01_4Card1{
     text-align: center;
     
    }
    .cardbg014-img1{
        margin-top: 0px;
        margin-right: 70px;
        width: 180px;
        height: 210px;
      }
      .Page01_4h1{
        margin: 0px;
        margin-left:40px;
        text-align: left;
        font-family: "Lora";
        font-size: 36px;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: auto;
        
        width: 85%;
       } 
       .Page01_4p{
        text-align: left;
        margin-top: 10px;
        margin-left: 40px;
        width: 90%;
        font-family: 'Inter';
        line-height: 28px;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
       }
       .Page01_4Card2{
     
        margin-top: 20px;
        
       }
       .navbtn01_4{
        margin-right: 160px;
       }
       .page01_4Row2{
    
      text-align: left;
      margin-top: 10px;
      margin-left: 30px;
       }
      
   }
   
   .iconimg01{
    width: 40px;
    height: 40px;
    margin: 5px;
    
   }
   
   .navbtn01_4{
    margin-top: 10px;
      font-size: 14px;
      margin-left: 15px;
      font-weight: 400;
      
      color: #fff;
      background-color: black;
      box-shadow: 6px 6px 0px 0px #E6FF7F;
      
      border-radius: 8px 8px 8px 8px;
      padding: 20px 20px 20px 20px;
      
   }
   .page01_4Row2{

    margin-left: 10px;
    margin-top: 90px;
   }
  