.page02_5col2{
    text-align: right;
    padding: 30px;
}
.col2_img12{
    width: 460px;
}
.Fpage022btn{
    
    font-size: 14px;
    
    font-weight: 600;
    
    color: #fff;
    background-color: black;
    box-shadow: 6px 6px 0px 0px #E6FF7F;
    
    border-radius: 8px 8px 8px 8px;
    padding: 20px;
       
}
.hrline{
    margin-top: 80px;
}
.coimg22{
   position: absolute;
    width: 350px;
    top: 3150px;
    right: 200px;
}
.page02_5col1{
    text-align: left;
    padding: 30px;
    
}
.land02_5{
    padding-bottom: 60px;
}
.ssd{
    color:blue;
}
.page02_5col1 a{
    text-decoration: none;

}
.page02_5col1 a :hover{
    color: orangered;
    
}
.page02_5col1 h1{
    margin-top: 30px;
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
     font-family: 'Noto Serif', serif;
     font-size: 55px;
}
.page02_5col1p{
    font-size: 19px;
    margin-top:30px;
    margin-bottom: 50px;
    width: 450px;
    font-weight: 400;
}

.page02_5Row2{
    margin-top: 60px;
    
}
@media screen and (max-width: 992px) {
    .page02_5col2{
        text-align: right;
        padding-bottom: 20px;
        padding-left: 80px;
        
    }
    .col2_img12{
        width: 340px;
        
    }

    .coimg22{
       position: absolute;
        width: 290px;
        left: 100px;
        top: 4350px;
        
    }
    .page02_5col1{
        text-align: center;
        padding: 50px;
    }

    .page02_5col1 h1{
        margin-top: 20px;
        font-family: 'Lora', serif;
        font-family: 'Merriweather', serif;
         font-family: 'Noto Serif', serif;
         font-size: 35px;
    }
    .page02_5col1 p{
        font-size: 16px;
        margin-top:20px;
        width: fit-content;
        font-weight: 400;
    }
    .page02_5Row2{
        margin-top: 30px;
    }
    .page02_5Row2 h4{
        font-size: 19px;
        
    }
}
img.vert-move1 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

img.vert-move1{@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}}

