.Page4Row{
    margin-top: 15px;
    
  }
  .land03_4{
    margin-top: 150px;
  }
  .cardbg-2img{
    height: 400px;
    width: 380px;
    position: relative;
    top: 120px;
    right: 90px;
  
  }
  .Page4Card2{
    margin-left: 200px;
  }
  .Page4Card1, .Page4Card2{
   
   height:520px;
   border: none;
   
  }
  .Page4Card2bg{
    
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    width: 370px;
    background-image: url("./images/content-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
   }
  .Page4Card1inner{
    margin-top: 50px;
    margin-left: 30px;
  }
  .Page4Card1h5{
    text-align: left;
  }
   .Page4h1{
    margin: 5px;
    margin-left:20px;
    text-align: left;
    font-family: sans-serif;
    font-size: 56px;
    line-height: 1.07em;
   }
   .Page4p{
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
   }
   .Page4Card1p2{
    text-align: left;
   }
  
   @media screen and (max-width: 992px) {
    .cardbg-2img{
      height: 320px;
      width: 320px;
      margin-top: 80px;
      margin-right: 10px;
      position:static;
    }
    .Page4Card2{
   
      margin-left: 60px;
      
     }
    .Page4Card1{
   
      height:auto;
      
     }
   }
   .checkmrkimg{
    height: 28px;
    width: 28px;
    margin: 4px;
    
   }
   .Page4Card1p2{
    margin-left: 40px;
    width: 45%;
    font-family: Inter;
      line-height: 24px;
      font-weight: 400;
      font-size: 20px;
   }
   
  