.land05_2{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}
.land05_2 h1{
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
     font-family: 'Noto Serif', serif;
     font-size: 60px;
}
.land05_2 p{
    font-size: 22px;
    padding-left: 280px;
    padding-right: 280px;
}
@media screen and (max-width: 992px) {
    .land05_2{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
    .land05_2 h1{
    
         font-size: 35px;
    }
    .land05_2 p{
        font-size: 17px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .tab-content{
        padding-left: 40px;
        padding-right: 40px;
    }
    .hh{
        margin-top: 20px;
        height: 200px;
        width: 350px;
        
    }
    .col2-05{
        padding: 0px;
        text-align: left;
        margin-left: -100px;
    }
    .col2-05 p{
        padding: 0px;
        font-size: 16px;
    }
    .col2-05 .card{
        
        width: 400px;
        padding: 20px;
        margin-top: 10px;
        
        border: none;
    }
}
.col2-05{
    padding: 0px;
    text-align: left;
}
.col2-05 p{
    padding: 0px;
    font-size: 20px;
}
.col2-05 .card{
    padding: 20px;
    margin-top: 20px;
    margin-left: 90px;
    border: none;
}
.hhbg{
    background-image: url("./images/content-bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -40px;
    padding-left: 20px;
}
.hh{
    margin-top: 20px;
    height: 440px;
    
}
#exTab2 {
    margin-top: 60px;
    text-align: center;

}
#exTab2 .nav-tabs{
    margin-left: 400px;
    padding-bottom: 30px;
}
#exTab2 a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 460;
    padding: 10px;
    margin: 10px;
    color: rgb(72, 70, 70);
    border-radius: 12px 12px 12px 12px;
    
}
#exTab2 a:hover{
    color: orangered;  
}
@media screen and (max-width: 992px) {
    #exTab2 .nav-tabs{
        margin-left: 50px;
        padding-bottom: 30px;
    }
    
    #exTab2 a{
        text-decoration: none;
        font-size: 18px;
        padding: 0px;
        
        
        
    }
}
  
 
  

  
 
  
  
  
  
  
  