.App {
    text-align: center;
    overflow: hidden;
    
  }
  .Page6Card1, .Page6Card2{
  background-color: rgb(34, 33, 33);
  color: white;
  text-align: left;
  }
  .Page6Row{
    background-color: rgb(34, 33, 33);
    color: white;
    margin: 0;
    height: 700px;
    
  }
  .Page6testimg{
    height: 380px;
    width: 380px;
    margin-top: 160px;
    margin-left:100px;
    z-index: 0;
    
  }
  .Page6h1{
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 38px;
    width: 90%;
    height: 380px;
    
  }
  .Page6testimontext{
    margin-top: 120px;
  }
  .Page6img1{
    position: absolute;
    z-index: -0;
    top: 80px;
    right: 170px;
  }
  .Page6img2{
    position: absolute;
    bottom: -60px;
    right: 400px;
  }
  @media screen and (max-width: 992px) {
    .Page6h1{
      font-family: 'Merriweather', serif;
      font-weight: 400;
      font-size: 36px;
      width: 100%;
      height: 330px;
      
      
    }
    .Page6Row{
      background-color: rgb(34, 33, 33);
      color: white;
      margin: 0;
      height: max-content;
      padding-bottom: 30px;
      
    }
  }